:root {
    --success-bg-color: #4070f4;
    --alert-bg-color: #E32636;
    --bg-color: #f2f2f2;
    --secondary-bg-color: var(--tg-theme-secondary-bg-color);
    --text-color: var(--tg-theme-text-color);
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--text-color);
    background: var(--bg-color);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.main__content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: visible;
    min-height: 100vh;
}

.options-footer {
    position: fixed;
    width: 90%;
    bottom: 0;
    height: 17%;
    border-radius: 40% 40% 0 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 15px 25px rgba(255, 0, 0, 0.1);
    z-index: 3;
}

.options-footer img {
    height: 70%;
    width: 70%;
    max-width: 20%;
    margin: 2vw;
    object-fit: contain;
}

.footer-submenu {
    position: fixed;
    width: 90%;
    bottom: 18%;
    height: 17%;
    display: flex;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.5);;
    flex-direction: column-reverse;
    overflow-y: auto;
    z-index: 4;
}

.submenu {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    flex-direction: column-reverse;
    overflow-y: auto;
    z-index: 4;
}

.carousel-cell {
    width: 20%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    counter-increment: carousel-cell;
    z-index: 4;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 3vh;
    border-radius: 12%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.toast {
    position: fixed;
    height: 10vh;
    min-width: 25vw;
    left: 20%;
    top: 10%;
    border-radius: 10%;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 101;
    visibility: hidden;
}

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: flex-start;
}

.toast-content .check {
    position: absolute;
    margin-left: -5%;
    margin-top: -5%;
    width: 20%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin-left: 22%;
}

.message .text {
    font-size: 100%;
    font-weight: 400;
    color: #666666;
    height: 100%;
}

.message .text.text-1 {
    font-size: 100%;
    font-weight: 600;
    color: #333;
}

.message .text.text-2 {
    font-size: clamp(10px, 3vw, 16px);
    font-weight: 300;
    color: gray;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

.toast.active ~ img {
    pointer-events: none;
}

.gallery {
    min-width: 100%;
    z-index: 1;
    display: flex;
    margin-bottom: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.gallery-month:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 10vh;
}

.gallery-month {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 2vh;
}


.gallery-month-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gallery-month-date {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    margin-bottom: 2%;
    transition: margin-left 0.3s ease-in-out;
    white-space: nowrap;
}

.gallery-month-date.select-mode {
    margin-left: 10%;
}

.gallery-month-select-all-icon {
    margin-left: 10%;
    width: 10%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
}

.gallery-month-select-all-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;
}

.gallery-month-image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transform-origin: top left;
    grid-gap: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

.gallery-month-image-container img {
    width: 16vw;
    height: 16vw;
    object-fit: cover;
    margin-left: 2%;
    position: relative;
    z-index: 1;
}

.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #f0f0f0;
    z-index: 101;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-header span {
    display: inline-block;
    margin-left: 0;
    text-align: center;
    vertical-align: middle;
}

.left-header span:first-child {
    margin-left: 2vw;
}

.left-header span img {
    height: 8vw;
    width: auto;
}

.text-1 {
    font-weight: bold;
}

.image-select-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: background .2s linear;
}

.image-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.icon {
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 5%;
    opacity: 0.5;
    width: 25%;
    height: 25%;
    z-index: 2;
}

.icon:hover {
    opacity: 1;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    z-index: 1;
}

.image.smaller {
    transform: scale(0.8);
    border-radius: 5px;
    overflow: hidden;
}


.right-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10vw;
}

.right-header span {
    display: inline-block;
    margin-left: 1vw;
    text-align: center;
    vertical-align: middle;
}


.right-header span img:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.left-header span img {
    height: 8vw;
    width: auto;
}


.cancel-selection-button {
    visibility: hidden;
}

.second-layer-menu {
    margin-top: 18vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vw;
    z-index: 99;
    display: flex;
    align-items: center;
}

.second-layer-item {
    display: inline-block;
    vertical-align: middle;
}

.text-3 {
    font-size: 1.5em;
    color: #666666;
}

.second-layer-menu span img {
    height: 6vw;
    width: auto;
    opacity: 0.5;
    z-index: 100;
}

.second-layer-menu span img:hover {
    opacity: 1;
}

.footer-menu {
    position: fixed;
    top: 82%;
    left: 50%;
    width: 100%;
    height: 18%;
    background-color: white;
    z-index: 101;
    display: block;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




















